// Basic Colors!!!!
$navy: #001F3F !default;
$blue: #0074D9 !default;
$aqua: #7FDBFF !default;
$teal: #39CCCC !default;
$olive: #3D9970 !default;
$green: #2ECC40 !default;
$lime: #01FF70 !default;
$yellow: #FFDC00 !default;
$orange: #FF851B !default;
$red: #FF4136 !default;
$fuchsia: #F012BE !default;
$purple: #B10DC9 !default;
$maroon: #85144B !default;
$white: #FFFFFF !default;
$silver: #DDDDDD !default;
$gray: #AAAAAA !default;
$black: #111111 !default;

// UI Colors
$success-color: #4AB471 !default;
$warning-color: #F3AE4E !default;
$danger-color: #CF5C60 !default;

// Set Brand colors
$brand-color-1: #3498DB !default;
$brand-color-2: darken($brand-color-1, 5%) !default;
$brand-color-3: darken($brand-color-2, 5%) !default;
$brand-color-4: darken($brand-color-3, 5%) !default;
$brand-color-5: darken($brand-color-4, 5%) !default;

$g05: darken($white, 5%) !default;
$g10: darken($white, 10%) !default;
$g20: darken($white, 20%) !default;
$g30: darken($white, 30%) !default;
$g40: darken($white, 40%) !default;
$g50: darken($white, 50%) !default;
$g60: darken($white, 60%) !default;
$g70: darken($white, 70%) !default;
$g80: darken($white, 80%) !default;
$g90: darken($white, 90%) !default;

$lucky-colors: (
  b: $black,
  w: $white,
  1: $brand-color-1,
  2: $brand-color-2,
  3: $brand-color-3,
  4: $brand-color-4,
  5: $brand-color-5,
  success: $success-color,
  warning: $warning-color,
  danger: $danger-color,
  g05: $g05,
  g10: $g10,
  g20: $g20,
  g30: $g30,
  g40: $g40,
  g50: $g50,
  g60: $g60,
  g70: $g70,
  g80: $g80,
  g90: $g90,
) !default;

// Define brand color variables
// Background colors
$bgb: map-get($lucky-colors, b);
$bgw: map-get($lucky-colors, w);
$bg1: map-get($lucky-colors, 1);
$bg2: map-get($lucky-colors, 2);
$bg3: map-get($lucky-colors, 3);
$bg4: map-get($lucky-colors, 4);
$bg5: map-get($lucky-colors, 5);

// Text colors
$tcb: map-get($lucky-colors, b);
$tcw: map-get($lucky-colors, w);
$tc1: map-get($lucky-colors, 1);
$tc2: map-get($lucky-colors, 2);
$tc3: map-get($lucky-colors, 3);
$tc4: map-get($lucky-colors, 4);
$tc5: map-get($lucky-colors, 5);

// Border colors
$bcb: map-get($lucky-colors, b);
$bcw: map-get($lucky-colors, w);
$bc1: map-get($lucky-colors, 1);
$bc2: map-get($lucky-colors, 2);
$bc3: map-get($lucky-colors, 3);
$bc4: map-get($lucky-colors, 4);
$bc5: map-get($lucky-colors, 5);

// Define basic color variables
// Background Colors
$bgg05: map-get($lucky-colors, g05);
$bgg10: map-get($lucky-colors, g10);
$bgg20: map-get($lucky-colors, g20);
$bgg30: map-get($lucky-colors, g30);
$bgg40: map-get($lucky-colors, g40);
$bgg50: map-get($lucky-colors, g50);
$bgg60: map-get($lucky-colors, g60);
$bgg70: map-get($lucky-colors, g70);
$bgg80: map-get($lucky-colors, g80);
$bgg90: map-get($lucky-colors, g90);

// Text Colors
$tcg05: map-get($lucky-colors, g05);
$tcg10: map-get($lucky-colors, g10);
$tcg20: map-get($lucky-colors, g20);
$tcg30: map-get($lucky-colors, g30);
$tcg40: map-get($lucky-colors, g40);
$tcg50: map-get($lucky-colors, g50);
$tcg60: map-get($lucky-colors, g60);
$tcg70: map-get($lucky-colors, g70);
$tcg80: map-get($lucky-colors, g80);
$tcg90: map-get($lucky-colors, g90);

// Border Colors
$bcg05: map-get($lucky-colors, g05);
$bcg10: map-get($lucky-colors, g10);
$bcg20: map-get($lucky-colors, g20);
$bcg30: map-get($lucky-colors, g30);
$bcg40: map-get($lucky-colors, g40);
$bcg50: map-get($lucky-colors, g50);
$bcg60: map-get($lucky-colors, g60);
$bcg70: map-get($lucky-colors, g70);
$bcg80: map-get($lucky-colors, g80);
$bcg90: map-get($lucky-colors, g90);