// sanitize.css v5.0.0 | CC0 License | github.com/jonathantneal/sanitize.css

// Document (https://html.spec.whatwg.org/multipage/semantics.html#semantics)

*,
::before,
::after {
	background-repeat: no-repeat; // Remove repeating backgrounds in all browsers (opinionated).
	box-sizing: inherit; // Add box sizing inheritence in all browsers (opinionated).
}

::before,
::after {
	text-decoration: inherit; // Add text decoration inheritance in all browsers (opinionated).
	vertical-align: inherit; // Add vertical alignment inheritence in all browsers (opinionated).
}

html {
	box-sizing: $root-box-sizing; //Add border box sizing in all browsers (opinionated).
	cursor: $root-cursor; // Add the default cursor in all browsers (opinionated).
	-ms-text-size-adjust: 100%; // Prevent font size adjustments after orientation changes in IE and iOS.
	-webkit-text-size-adjust: 100%; // Same as above
	background: $root-background-color;
	color: $root-color;
	font: #{$root-font-size}/#{$root-line-height} $root-font-family;
}

// Sections (https://html.spec.whatwg.org/multipage/semantics.html#sections)

// Add the correct display in IE 9-.
article,
aside,
footer,
header,
nav,
section {
	display: block;
}

// Remove the margin in all browsers (opinionated).
body {
	margin: 0;
}

// Correct the font size and margin on `h1` elements within `section` and
// `article` contexts in Chrome, Firefox, and Safari.
h1 {
	font-size: 2em;
	margin: .67em 0;
}

// Grouping content (https://html.spec.whatwg.org/multipage/semantics.html#grouping-content)

//Add the correct display in IE 9-.
figcaption,
figure,
main { // Add the correct display in IE.
	display: block;
}

// Add the correct margin in IE 8.
figure {
	margin: 1em 40px;
}

hr {
	box-sizing: content-box; // Add the correct box sizing in Firefox.
	height: 0; // Same as above
	overflow: visible; // Show the overflow in Edge and IE.
}

// Remove the list style on navigation lists in all browsers (opinionated).
nav ol,
nav ul {
	list-style: none;
}

pre {
	font-family: monospace, monospace; // Correct the inheritance and scaling of font size in all browsers.
	font-size: 1em; // Correct the odd `em` font sizing in all browsers.
}

// Text-level semantics (https://html.spec.whatwg.org/multipage/semantics.html#text-level-semantics)

a {
	background-color: transparent; // Remove the gray background on active links in IE 10.
	-webkit-text-decoration-skip: objects; // Remove gaps in links underline in iOS 8+ and Safari 8+.
	color: $anchor-color;
	text-decoration: $anchor-text-decoration;
}

abbr[title] {
	border-bottom: none; // Remove the bottom border in Firefox 39-.
	text-decoration: underline; // Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
	text-decoration: underline dotted; // Same as above
}

// Prevent the duplicate application of `bolder` by the next rule in Safari 6.
b,
strong {
	font-weight: inherit;
}

// Add the correct font weight in Chrome, Edge, and Safari.
b,
strong {
	font-weight: bolder;
}

code,
kbd,
samp {
	font-family: monospace, monospace; // Correct the inheritance and scaling of font size in all browsers.
	font-size: 1em; // Correct the odd `em` font sizing in all browsers.
}

// Add the correct font style in Android 4.3-.
dfn {
	font-style: italic;
}

// Add the correct background and color in IE 9-.
mark {
	background-color: #ffff00;
	color: #000000;
}

// Add the correct font size in all browsers.
small {
	font-size: $small-font-size;
}

// Prevent `sub` and `sup` elements from affecting the line height in
// all browsers.
sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -.25em;
}

sup {
	top: -.5em;
}

// Remove the text shadow on text selections (opinionated).
::-moz-selection {
	background-color: #b3d4fc; // Restore the coloring undone by defining the text shadow (opinionated).
	color: #000000; // Restore the coloring undone by defining the text shadow (opinionated).
	text-shadow: none;
}

::selection {
	background-color: #b3d4fc; /* 1 */
	color: #000000; /* 1 */
	text-shadow: none;
}

// Embedded content (https://html.spec.whatwg.org/multipage/embedded-content.html#embedded-content)

// Change the alignment on media elements in all browers (opinionated).
audio,
canvas,
iframe,
img,
svg,
video {
	vertical-align: middle;
}

// Add the correct display in IE 9-.
audio,
video {
	display: inline-block;
}

// Add the correct display in iOS 4-7.
audio:not([controls]) {
	display: none;
	height: 0;
}

// Remove the border on images inside links in IE 10-.
img {
	border-style: none;
	max-width: 100%; // Lucky: Make the image scale with its parent.
	font-style: italic; // Lucky: Offset alt text.
	vertical-align: middle; // Lucky: Remove bottom whitespace.
}

// Change the fill color to match the text color in all browsers (opinionated).
svg {
	fill: currentColor;
}

// Hide the overflow in IE.
svg:not(:root) {
	overflow: hidden;
}

// Tabular data (https://html.spec.whatwg.org/multipage/tables.html#tables)

// Collapse border spacing
table {
	border-collapse: collapse;
	width: 100%; // Lucky: Make the table as wide as possible.
}

// Forms (https://html.spec.whatwg.org/multipage/forms.html#forms)

// Remove the margin in Firefox and Safari.
button,
input,
optgroup,
select,
textarea {
	margin: 0;
}

// Inherit styling in all browsers (opinionated).
button,
input,
select,
textarea {
	color: inherit;
	font-size: inherit;
	line-height: inherit;
}

// Show the overflow in IE.
button,
input { // Show the overflow in Edge.
	overflow: visible;
}

// Remove the inheritance of text transform in Edge, Firefox, and IE.
button,
select { // Remove the inheritance of text transform in Firefox.
	text-transform: none;
}

button,
html [type="button"], // Prevent a WebKit bug where (2) destroys native `audio` and `video` controls in Android 4.
[type="reset"],
[type="submit"] {
	-webkit-appearance: button; // Correct the inability to style clickable types in iOS and Safari.
}

// Remove the inner border and padding in Firefox.
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

// Restore the focus styles unset by the previous rule.
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
	outline: 1px dotted ButtonText;
}

legend {
	box-sizing: border-box; // Correct the text wrapping in Edge and IE.
	color: inherit; // Correct the color inheritance from `fieldset` elements in IE.
	display: table; // Correct the text wrapping in Edge and IE.
	max-width: 100%; // Correct the text wrapping in Edge and IE.
	padding: 0; // Remove the padding so developers are not caught out when they zero out `fieldset` elements in all browsers.
	white-space: normal; // Correct the text wrapping in Edge and IE.
}

progress {
	display: inline-block; // Add the correct display in IE 9-.
	vertical-align: baseline; // Add the correct vertical alignment in Chrome, Firefox, and Opera.
}

textarea {
	overflow: auto; // Remove the default vertical scrollbar in IE.
	resize: vertical; // Change the resize direction on textareas in all browsers (opinionated).
}

[type="checkbox"],
[type="radio"] {
	box-sizing: border-box; // Add the correct box sizing in IE 10-.
	padding: 0; // Remove the padding in IE 10-.
}

// Correct the cursor style of increment and decrement buttons in Chrome.
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

[type="search"] {
	-webkit-appearance: textfield; // Correct the odd appearance in Chrome and Safari.
	outline-offset: -2px; // Correct the outline style in Safari.
}

// Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

::-webkit-file-upload-button {
	-webkit-appearance: button; // Correct the inability to style clickable types in iOS and Safari.
	font: inherit; // Change font properties to `inherit` in Safari.
}

// Interactive elements (https://html.spec.whatwg.org/multipage/forms.html#interactive-elements)

// Add the correct display in IE 9-.
details, // Add the correct display in Edge, IE, and Firefox.
menu {
	display: block;
}

// Add the correct display in all browsers.
summary {
	display: list-item;
}

// Scripting (https://html.spec.whatwg.org/multipage/scripting.html#scripting-3)

// Add the correct display in IE 9-.
canvas {
	display: inline-block;
}

// Add the correct display in IE.
template {
	display: none;
}

// User interaction (https://html.spec.whatwg.org/multipage/interaction.html#editing)

// Remove the tapping delay on clickable elements (opinionated).
a,
area,
button,
input,
label,
select,
summary,
textarea,
[tabindex] {
	-ms-touch-action: manipulation; // Remove the tapping delay in IE 10.
	touch-action: manipulation;
}

// Add the correct display in IE 10-.
[hidden] {
	display: none;
}

// ARIA (https://w3c.github.io/html-aria/)

// Change the cursor on busy elements (opinionated).
[aria-busy="true"] {
	cursor: progress;
}

// Change the cursor on control elements (opinionated).
[aria-controls] {
	cursor: pointer;
}

// Change the display on visually hidden accessible elements (opinionated).
[aria-hidden="false"][hidden]:not(:focus) {
	clip: rect(0, 0, 0, 0);
	display: inherit;
	position: absolute;
}

// Change the cursor on disabled, not-editable, or otherwise
// inoperable elements (opinionated).
[aria-disabled] {
	cursor: default;
}