// Root Settings
$sans-serif: 'Helvetica Neue', Helvetica, Arial, sans-serif !default;
$serif: Merriweather, Georgia, serif !default;
$code: Menlo, Consolas, Monaco, 'Andale Mono', monospace !default;

$root-background-color: #ffffff !default;
$root-box-sizing: border-box !default;
$root-color: #000000 !default;
$root-cursor: default !default;
$root-font-size: 100% !default;
$root-line-height: 1.5 !default;
$root-font-family: $sans-serif !default;

// Spacing Settings
$spacing-helper-amount: 10 !default;
$spacing-amounts: ();

// Grid Settings
$grid-columns: 12 !default;
$grid-gutter: 1rem !default;
$site-width: 62.5rem !default;

// Breakpoints
$breakpoint-sm: '(min-width: 300px)' !default;
$breakpoint-md: '(min-width: 600px)' !default;
$breakpoint-lg: '(min-width: 900px)' !default;
$breakpoint-xlg: '(min-width: 1440px)' !default;

$breakpoint-only-sm: '(max-width: 599px)' !default;
$breakpoint-only-md: '(min-width: 600px) and (max-width: 899px)' !default;
$breakpoint-only-lg: '(min-width: 900px) and (max-width: 1439px)' !default;
$breakpoint-only-xlg: '(min-width: 1440px)' !default;

$breakpoints: (
	sm: $breakpoint-sm,
	only-sm: $breakpoint-only-sm,
	md: $breakpoint-md,
	only-md: $breakpoint-only-md,
	lg: $breakpoint-lg,
	only-lg: $breakpoint-only-lg,
	xlg: $breakpoint-xlg,
	only-xlg: $breakpoint-only-xlg
) !global;

// Type Settings
$anchor-color: $blue !default;
$anchor-text-decoration: none !default;
$small-font-size: 75% !default;

// Font Sizes
$ft1: 10 !default;
$ft2: 11 !default;
$ft3: 12 !default;
$ft4: 15 !default;
$ft5: 16.5 !default;
$ft6: 18 !default;
$ft7: 22.5 !default;
$ft8: 24.75 !default;
$ft9: 27 !default;
$ft10: 33.75 !default;
$ft11: 37.13 !default;
$ft12: 40.5 !default;
$ft13: 50.63 !default;
$ft14: 55.69 !default;
$ft15: 60.75 !default;
$ft16: 75.94 !default;
$ft17: 83.53 !default;

$font-size-values: (
	ft1: $ft1,
	ft2: $ft2,
	ft3: $ft3,
	ft4: $ft4,
	ft5: $ft5,
	ft6: $ft6,
	ft7: $ft7,
	ft8: $ft8,
	ft9: $ft9,
	ft10: $ft10,
	ft11: $ft11,
	ft12: $ft12,
	ft13: $ft13,
	ft14: $ft14,
	ft15: $ft15,
	ft16: $ft16,
	ft17: $ft17,
) !default;

// Font Weights
$thin: 100 !default;
$xlight: 200 !default;
$light: 300 !default;
$normal: 400 !default;
$medium: 500 !default;
$semibold: 600 !default;
$bold: 700 !default;
$xbold: 800 !default;
$xxbold: 900 !default;

// Letter Spacing
$ls1:  0.1rem !default;
$ls2:  0.2rem !default;
$ls3:  0.3rem !default;
$ls4:  0.4rem !default;
$ls5:  0.5rem !default;
$ls6:  0.6rem !default;
$ls7:  0.7rem !default;
$ls8:  0.8rem !default;
$ls9:  0.9rem !default;
$ls10: 1.0rem !default;

// Borders
$border-radius-amount: 6 !default;
$circle-img-radius: 50% !default;
$border-size-amount: 6 !default;
