// Letter-spacing Options
$letter-spacing-values: (
  ls1: $ls1,
  ls2: $ls2,
  ls3: $ls3,
  ls4: $ls4,
  ls5: $ls5,
  ls6: $ls6,
  ls7: $ls7,
  ls8: $ls8,
  ls9: $ls9,
  ls10: $ls10
) !default;

@each $name, $amount in $letter-spacing-values {
	.#{$name} { letter-spacing: $amount }

	@each $key, $breakpoint in $breakpoints {
		.#{$key}-#{$name} {
			@include media($key) {
				letter-spacing: $amount;
			}
		}
	}
}