@mixin lucky-button($background: #333, $color: #fff, $rounded: null) {
	display: inline-block;
	margin: 0;
	color: $color;
	text-align: center;
	text-decoration: none;
	background: $background;
	border:none;
	cursor: pointer;
	@if $rounded != null { border-radius: $rounded; }
}
@mixin lucky-button-size($size: normal) {
	@if $size == normal {
		padding: 0.4rem 0.6rem;
		font-size: 1rem;
	} @else if $size == 'xsmall' {
		padding: 0.1rem 0.3rem;
		font-size: 0.7rem;
	} @else if $size == 'small' {
		padding: 0.2rem 0.5rem;
		font-size: 0.9rem;
	} @else if $size == 'large' {
		padding: 0.4rem 0.8rem;
		font-size: 1.2rem;
	} @else if $size == 'xlarge' {
		padding: 0.4rem 1rem;
		font-size: 1.5rem;
	}
}

@mixin lucky-disabled-button {
	&.disabled,
	&:disabled,
	&[disabled] {
		background: #eee;
		color: #999;
		cursor: default;
	}
}
