@mixin lucky-table($zebra: false, $zebra-color: #f2f2f2) {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	empty-cells: show;
	border: 0.0625rem solid #cbcbcb;

	caption {
		color: #000;
		font-style: italic;
		padding: 1rem 0;
		text-align: center;
	}

	thead {
		background: #eee;
		color: #000;
		text-align: left;
		vertical-align: bottom;
	}

	th, td {
		border-left: 0.0625rem solid #cbcbcb;
		border-bottom: 0.0625rem solid #cbcbcb;
		border-width: 0 0 0.0625rem 0.0625rem;
		font-size: inherit;
		margin: 0;
		overflow: visible; // for long titles
		padding: 0.375rem 0.75rem;

		:first-child {
			border-left-width: 0;
		}
	}

	@if $zebra {
		tr:nth-child(2n-1) td {
			background-color: $zebra-color;
		}
	}
}
